asgiref==3.4.1
certifi==2021.10.8
click==8.0.4
Deprecated==1.2.13
Django==3.2.9
django-rq==2.5.1
importlib-metadata==4.11.3
packaging==21.3
pyparsing==3.0.7
pytz==2021.3
redis==4.1.4
rq==1.10.1
-e git+git@github.com:getsentry/sentry-python.git@a6cec41a2f4889d54339d3249db1acbe0c680e46#egg=sentry_sdk
sqlparse==0.4.2
typing-extensions==4.1.1
urllib3==1.26.7
wrapt==1.14.0
zipp==3.7.0
